[submodule "ProductCatalogService"]
	path = ProductCatalogService
	url = https://github.com/tanay-vj/ProductCatalogService.git
[submodule "UserAuthenticationService"]
	path = UserAuthenticationService
	url = https://github.com/tanay-vj/UserAuthenticationService.git
[submodule "EmailService"]
	path = EmailService
	url = https://github.com/tanay-vj/EmailService.git
