[submodule "ProductCatalogService"]
	path = ProductCatalogService
	url = https://github.com/tanay-vj/ProductCatalogService.git
[submodule "UserAuthenticationService"]
	path = UserAuthenticationService
	url = https://github.com/tanay-vj/UserAuthenticationService.git
[submodule "EmailService"]
	path = EmailService
	url = https://github.com/tanay-vj/EmailService.git
[submodule "PaymentService"]
	path = PaymentService
	url = https://github.com/tanay-vj/PaymentService.git
[submodule "ServiceDiscovery"]
	path = ServiceDiscovery
	url = https://github.com/tanay-vj/ServiceDiscovery.git
